/* To change the background of the entire website
select body and use property background-color. */
body {

    background-color: #183b57; 
    color: #e7e3e9;
}


#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Arial"
}

#header {
    background-color:#d4d5d6 

}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 7px;
/*   color: #2A403F;*/
    color:#4c275a;

}

h2 {
    color: #604963;

}

#first-section {
    color:rgb(212, 226, 245)
}

#header ul {
 /*  border-color: white;*/
    border-style: none;
    border-width: 1px;  
    /*color: white;*/
    text-align: center;
    padding-left:0;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 18px;

}

#header ul li {
    background-color: #178eac; 
    border-style: solid;
    border-width: 1px;
    /*display: inline;  /*will line up the list elements in the unordered list(ul) one next to the other */
    display: inline-block;  /* lines up list elements as blocks */
    margin-left: 70px;
    margin-right: 70px;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    padding-right: 5px;
    padding-left: 5px;
    /*border-radius: 2px;*/
}

#header ul li a:link{
    color: rgb(248, 248, 246);
    text-decoration: none;
}

#header ul li a:visited {
    color: rgb(8, 116, 66);
}

#header ul li a:hover {
    color: red;
}

#header ul li a:active {
    color: rgb(122, 97, 235);
    margin-left: 5px;
    margin-top: 5px;
}

#main {
    overflow: auto;
}

#first-section {
    margin-top: 0;
    padding-top: 12px;
}



#main p {
    /*text-align: left;*/
    text-align: justify;
    margin-right: 30px;
    margin-left: 40px;
    line-height: 22px;
    color: #d7dbdf;
} 

#main ul li {
    text-align: left;
    margin-right: 30px;
    margin-left: 425px;
    line-height: 22px;
}


#main img {
    text-align: right;
    border-style: solid;
    border-width: 4px;
    /*border-color: #798C8C;*/
    border-color: rgb(139, 193, 238);
    border-radius: 5px;
    display: inline-block;
}

#linkedin {
    background-color: white;
    border-color: rgb(114, 200, 235);
}

#main img:hover{
    border-color: rgb(187, 173, 175);
}

#main h3 {
    text-align: center;
}

#skills-section {
    color:rgb(255, 235, 255);

}

#skills-section h3{
    color:rgb(215, 191, 245);
}

#skills-section p{
    color:rgb(255, 235, 255);
    text-align: center;
}

#contact-text {
    text-align: center;
    margin-left: 40px;
}

   
#footer {
    height: 30px; 
}

#footer h3 {
    color:rgb(240, 155, 235);
    text-align: center;
    margin-left: 7px;
}

#footer ul li {
    text-align: left;
    color:rgb(255, 235, 255);
}

#footer ul p {
    text-align: left;

}

#copyright-text {
    color: rgb(241, 236, 155);
}
a {
    color:#ee8a50;
}

